

.search-btn{
 font-size: 12px;
}
.solveaz-search {
  border: 0.5px solid var(--text-color);
  box-sizing: border-box;
  border-radius: var(--border-radius);
}

.search-btn span {
  font-size: 10px;
}
.newGenieInfo h4 {
  font-weight: 500;

  color: #37474F;
    /* white-space: break-spaces; */
}

.newGenieInfo p {
    font-size: 12px;
    line-height: 18px;


    color: rgba(55, 71, 79, 0.72);
}

.btn-genie {
    background: #F37A20;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px 30px 5px 25px; */

    height: 32px;
    /* font-size: 12px; */
    color: ivory;
  
}
.genieImg{
  max-width: 140px;
}
@media (max-width: 760px){
  button.btn.search-btn.btn-primary {
    padding: 2px 5px;
    width: 100%;
    line-height: inherit;
    font-size: 2px;
    display: flex;
    align-items: center;
}
button.btn.search-btn.btn-primary img {
    height: 20px;
  }

}


@media (max-width: 990px) {
 
    .search-mobile .search-custom, .search-mobile .bg-search {
      max-height: 36px;
  }
  .search-container {
    top: 100%;
    width: 80%;
    left: 10%;
    z-index: 77;

    padding: 10px 15px;
  }
}